<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Users</key>
	<array>
		<dict>
			<key>username</key>
			<string>xyz</string>
			<key>password</key>
			<string>xyz@123</string>
		</dict>
		<dict>
			<key>username</key>
			<string>abc</string>
			<key>password</key>
			<string>abc@123</string>
		</dict>
	</array>
	<key>Countries</key>
	<array>
		<string>Canada</string>
		<string>India</string>
		<string>Nepal</string>
		<string>USA</string>
		<string>Russia</string>
	</array>
</dict>
</plist>
